//proxima-nova font family
@mixin font-face($file-path) {
    @font-face {
    font-family: 'proxima-nova-regular';
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-regular.otf") format("embedded-opentype"), 
    url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-regular.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-regularit';
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-regularit.otf") format("embedded-opentype"), 
    url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-regularit.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-light';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-light.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-light.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-lightit';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-lightit.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-lightit.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-thin';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-thin.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-thin.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-thinit';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-thinit.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-thinit.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-medium';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-medium.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-medium.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-mediumit';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proxima-nova-mediumit.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-mediumit.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-semibold';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-semibold.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-semibold.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-semiboldit';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-semiboldit.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-semiboldit.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-black';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-black.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-black.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-blackit';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-blackit.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-blackit.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-bold';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-bold.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-bold.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-boldit';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-boldit.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-boldit.ttf") format("truetype");
    }

    @font-face {
    font-family: 'proxima-nova-extrabold';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-extrabold.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-extrabold.ttf") format("truetype");
    }
    @font-face {
    font-family: 'proxima-nova-extraboldit';
    font-weight: bold;
    src: url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-extraboldit.otf") format("embedded-opentype"), 
        url("#{$file-path}/fonts/proxima-nova-fonts/proximanova-extraboldit.ttf") format("truetype");
    }
}

