.color-red {
    color: #f17560;
}

.color-blue {
    color: #3BAFDA;
}

.color-grey {
  color: #e5e5e5;
}

.color-dark-blue {
  color: #3aa7e2;
}

.color-light-blue {
  color: #32a6e5;
}

.color-orange {
  color: #fc755b;
}

.color-green {
  color: #6bc643
}
