.m0 {
    margin: 0;
}

.m-t33 {
    margin-top: 33px;
}

.-m-t20 {
    margin-top: -20px;
}

.m-t8{
    margin-top: 8px;
}

.m-r0 {
    margin-right: 0;
}

.m-r10 {
    margin-right: 10px;
}
.m-r15 {
  margin-right: 15px;
}

.m-b0 {
    margin-bottom: 0;
}
.m-b20 {
  margin-bottom: 20px;
}
