.p0 {
    padding: 0;
}

.p5 {
    padding: 5px;
}

.p7 {
    padding: 7px;
}

.p-t0 {
    padding-top: 0;
}

.p-t5 {
    padding-top: 5px;
}

.p-t7 {
    padding-top: 7px;
}

.p-t15 {
    padding-top: 15px;
}
.p-t17 {
    padding-top: 17px;
}

.p-t20 {
    padding-top: 20px;
}
.p-t27 {
    padding-top: 27px;
}

.p-b0 {
    padding-bottom: 0;
}

.p-b10 {
    padding-bottom: 10px;
}

.p-b15 {
    padding-bottom: 15px;
}
.p-b17 {
    padding-bottom: 17px;
}

.p-b20 {
    padding-bottom: 20px;
}
.p-b27 {
    padding-bottom: 27px;
}

.p-r10 {
    padding-right: 10px;
}

.p-r20 {
    padding-right: 20px;
}

.p-r30 {
    padding-right: 30px;
}

.p-r35 {
    padding-right: 35px;
}

.p-r45 {
    padding-right: 45px;
}

.p-l5 {
    padding-left: 5px;
}

.p-l10 {
    padding-left: 10px;
}

.p-l15 {
    padding-left: 15px;
}

.p-l20 {
    padding-left: 20px;
}

.p-l30 {
    padding-left: 30px;
}

.p-l40 {
    padding-left: 40px;
}
.p-l43 {
    padding-left: 43px;
}
.p-l60 {
    padding-left: 60px;
}
