.width-90 {
    width: 90px;
}

.width-100 {
    width: 100px;
}

.width-125 {
    width: 125px;
}

.width-150 {
    width: 150px;
}

.width-275 {
    width: 275px;
}

.width-290 {
    width: 290px;
}

.width-315 {
    width: 315px;
}

.width-450 {
    width: 450px;
}

.width-600 {
    width: 600px;
}

.width-percentage-100 {
    width: 100%;
}
