.btn {
    font-family: proxima-nova-medium;
    border-radius: 3px;
}
.btn-default {
    padding: 14px 33px;
    background-color: #3aa7e2;
    color: #fff;
}
.btn-lg {
  padding: 22px 160px;
  font-family: proxima-nova-semibold;
  font-size: 16px;
  font-weight: 600;
}
.btn-danger {
  color: #fc755b;
  background-color: #fff;
  border: 2px solid #fc755b;
  font-size: 14px;
  padding: 14px 42px;
}
