input,
textarea {
    font-family: proxima-nova-medium !important;
    border-radius: 3px;
    border: solid 1px #979797;
}

input.square {
    padding: 20px;
    width: 30%;
    text-align: center;
    color: #454545;
    font-weight: 500;
    font-size: 20px;
}

input.read-only-number {
  border: 0;
  background-color: #fff;
  font-size: 45px;
}
