h1 {
    font-family: proxima-nova-bold !important;
    font-size: 29px;
    color: #454545;
}
h2 {
    font-family: proxima-nova-semibold !important;
    text-transform: none;
    margin: 5px 0;
    font-size: 25px;
    color: #4a4a4a;
}
h3 {
    font-family: proxima-nova-regular !important;
    font-size: 20px;
    color: #9b9b9b;
}
h4 {
    font-family: proxima-nova-medium !important;
    text-transform: none;
    margin: 5px 0;
    font-size: 16px;
    color: #9b9b9b;
    font-weight: 500;
}
h5 {
    font-family: proxima-nova-medium !important;
    font-size: 12px;
    margin: 0;
    text-transform: none;
    color: #969696;
}
h6 {
    margin: 5px 0;
    font-size: 15px;
    font-family: proxima-nova-extrabold;
    color: #757575;
}
